.bg-main {
    background-color: #f6f6f6;
}

.main {
    padding: 100px 0 40px 0;
    margin: 20px 0;
    background: no-repeat right  bottom/58% url(../../../images/commersant/pngwave.png);
 
   
}

.main_title {
    display: flex;
    justify-content: left;
    font-size: 34px;
    padding-left: 38px;
    padding-bottom: 20px;
}

.main-ul {
    list-style: none;
}

.main-ul_li {
    position: relative;
}

.main-ul_li p {
    padding-left: 25px;
}

.main-ul_li::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: #ffdd2d;
    border-radius: 10px;
}

.main-ul_li p:hover {
    transform:  translateX(5px);
    transition: 0.3s;
}

.main-btn-wrapper {
    padding-top: 40px;
    text-align: left;
    padding-left: 38px;
}

.main-btn-login-wrapper {
    padding-top: 20px;
    text-align: right;
}

.main-btn {
    display: inline-block;
    padding: 15px;
    background-color: #ffdd2d;
}

.btn-login {
    display: inline-block;
    padding: 4px 12px;
    background-color: white;
    box-shadow: 0 0 2px 2px #dedede;

}

.btn-login:hover {
    background-color: white;
    box-shadow: 0 0 1px 1px grey;
}