<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/commersant/index/style.css">
    <link rel="stylesheet" href="css/commersant/index/item.css">
    <link rel="stylesheet" href="css/commersant/index/main.css">
    <link rel="stylesheet" href="css/commersant/index/promo.css">
    <link rel="stylesheet" href="css/commersant/index/tariffs.css">
    <link rel="stylesheet" href="css/commersant/index/payment.css">

    <title>Document</title>
</head>

<body>

<div class="bg-main">
    <div class="container">
        <div class="main">
            <div class="main_title"> Интернет платежи </div>
            <div class="main_subtitle">
                <ul class="main-ul">
                    <li class="main-ul_li">
                        <p>Комиссия от 0,5% для новых клиентов</p>
                    </li>
                    <li class="main-ul_li">
                        <p>Подключим онлайн и сами настроим</p>
                    </li>
                    <li class="main-ul_li">
                        <p>Сможете принимать платежи уже через 2 дня</p>
                    </li>
                </ul>
            </div>
            <div class="main-btn-wrapper">
                <a class="btn main-btn" href="/register">  Подключить </a>
            </div>
        </div>
    </div>
</div>


<div class="container ">
    <div class="promo">
        <div class="promo-title">
            Прием платежей
        </div>
        <div class="promo-subtitle">
            Сервис по приему платежей
        </div>
    </div>
    <div class="flex-container">
        <div class="item">
            <div class="icon-wrapper">
                <div class="item-icon icon-1"></div>
            </div>
            <div>
                <p class="title"> Просто, без поездок в банк </p>
                Подайте заявку онлайн или в личном кабинете, остальное — за нами: привезем документы, установим и
                настроим терминал
            </div>
        </div>
        <div class="item">
            <div class="icon-wrapper">
                <div class="item-icon icon-2"></div>
            </div>
            <div>
                <p class="title"> Деньги — сразу </p>
                Отправляем деньги на ваш расчетный счет в день покупки или на следующий рабочий день
            </div>
        </div>
        <div class="item">
            <div class="icon-wrapper">
                <div class="item-icon icon-3"></div>
            </div>
            <div>
                <p class="title"> Все онлайн </p>
                Просто, без поездок в банк
                Сразу видите историю покупок в личном кабинете и мобильном приложении. Аналитика по суммам,
                количеству продаж, среднему чеку и возвратам
            </div>
        </div>
        <div class="item">
            <div class="icon-wrapper">
                <div class="item-icon icon-4"></div>
            </div>
            <div>
                <p class="title"> Поддержка 24/7 </p>
                Отвечаем в чате и по телефону. Персональный менеджер помогает решать проблемы — например, если не
                грузится аналитика
            </div>
        </div>
    </div>

    <div class="payment-block">
        <div class="promo-title">
            Все нужные сценарии оплаты
        </div>
        <div class="payment-block-wrapper">
            <div class="img-block">
                <img class="img" src="https://previews.123rf.com/images/agshinrajabov/agshinrajabov1811/agshinrajabov181100724/127618437-payment-vector-icon.jpg" alt="">
            </div>

            <ul class="ul">
                <li class="li">
                    <p>Оплата в один клик и автоплатежи </p>
                </li>
                <li class="li">
                    <p> Бесплатный возврат, если клиент отказался от покупки </p>
                </li>
                <li class="li">
                    <p> Блокировка денег на карте покупателя и списание по вашему подтверждению. Без комиссии за
                        отмену </p>
                </li>
                <li class="li">
                    <p> Возможность вернуть покупателю часть суммы, не отменяя весь платеж </p>
                </li>
            </ul>
        </div>
    </div>

    <div class="tariffs">
        <div class="promo-title">Тарифы</div>
        <div class="promo-subtitle ">Комиссия интернет-эквайринга в зависимости от тарифа расчетного счета </div>
        <div class="row">
            <div class="col"> Простой </div>
            <div class="col"> 5% </div>
        </div>
        <div class="row">
            <div class="col"> Продвинутый </div>
            <div class="col"> 4% </div>
        </div>
        <div class="row">
            <div class="col"> Профессиональный </div>
            <div class="col"> 3% </div>
        </div>
    </div>

    <div class="request">
        <a class="btn" href="/register"> Подать заявку на подключение </a>
    </div>
</div>
</body>

</html>