<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">

<head th:fragment="head">
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{https://www.w3schools.com/w3css/4/w3.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap}">
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/commersant/layout/style.css}">
    <link rel="stylesheet" th:href="@{/css/commersant/login/style.css}">
    <link rel="stylesheet" th:href="@{/css/commersant/main/style.css}">
    <link rel="stylesheet" th:href="@{/css/commersant/orders/style.css}">
    <link rel="stylesheet" th:href="@{/css/commersant/registration/style.css}">
    <link rel="stylesheet" th:href="@{/css/commersant/seacrh/style.css}">
    <link rel="stylesheet" th:href="@{/css/commersant/shops/style.css}">

</head>

<body>
<header th:fragment="header" class="header">
    <div class="row flex-row space-between">
        <div class="logo"></div>
        <div class="menu">
            <div> <a href="/home">Главная</a></div>
            <div> <a href="/orders">Операции</a></div>
            <div> <a href="">Счета</a></div>
            <div> <a href="">Возмещения</a></div>
            <div> <a href="/shops">Магазины</a></div>
            <div> <a href="">Помощь</a></div>
        </div>
        <div>
                <form action="/logout" method="post">
                    <input id = "token" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <button class="service-login">Выйти</button>
                </form>
        </div>

    </div>
</header>

<footer th:fragment="footer" class="footer">
    <div> attractor-school almaty 2020</div>
</footer>

</body>

</html>