<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
<header th:fragment="header" class="header">
    <div class="row flex-row space-between">

        <div class="logo"></div>
        <div class="menu">
            <div> <a href="/">Главная</a></div>
            <div> <a href="/transactions">Операции</a></div>
            <div> <a href="">Счета</a></div>
            <div> <a href="">Возмещения</a></div>
            <div> <a href="">Магазины</a></div>
            <div> <a href="">Помощь</a></div>
        </div>
        <div class="icon fa fa-bars w3-large">   </div>
    </div>
</header>

<footer th:fragment="footer" class="footer">
    <div> attractor-school almaty 2020</div>
</footer>

</body>

</html>