<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link href="css/commersant/search.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="css/commersant/layout-style.css">
    <link rel="stylesheet" href="css/commersant/main-page.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet"/>
    <title>Операции</title>
</head>

<body>

<div th:insert="layout :: header"></div>
<div class="container">
    <div id="search-block" class="s007">
        <form action="/search-orders" method="post" id="search-form">
            <div class="inner-form">
                <div class="basic-search">
                    <div class="input-field">
                        <div class="icon-wrap">
                            <span class="basic-search-title">ПОИСК</span>
                        </div>
                        <div class="totalVar">
                            <span th:utext="${totalAmountSum} + ' тг'"></span>
                            <span th:utext="${totalQuantity} + ' заказов'"></span>
                        </div>
                    </div>
                </div>
                <div class="advance-search">
                    <span class="desc">Расширенный поиск</span>
                    <div class="column">
                        <div class="advance-input">
                            <input id="search" type="number" name="id" placeholder="Поиск по № заказа"/>
                        </div>
                        <div class="advance-input">
                            <input class="extra-input" name="shopName" type="text" placeholder="Название магазина"/>
                        </div>
                        <div class="advance-input">
                            <input type="number" name="amount" placeholder="Сумма от"/>
                        </div>
                        <div class="advance-input">
                            <input type="number" name="amount" placeholder="Сумма до"/>
                        </div>
                        <div class="advance-input">
                            <select name="status" class="advance-input-select">
                                <option value="" default="default" selected="selected">Статус</option>
                                <option value="APPROVED">Подтвержден</option>
                                <option value="NEW">В ожидании</option>
                                <option value="RESERVED">Зарезервирован</option>
                                <option value="REFUSED">Отклонен</option>
                                <option value="PARTIAL_REFUND">Частично возвращен</option>
                                <option value="TOTAL_REFUND">Возвращен</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field">
                            <button type="submit" class="btn-search btn">Искать</button>
                        </div>
                        <div class="input-field">
                            <button type="reset" class="btn-delete btn" id="delete">Очистить</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="flex">
        <div class="main">
            <table class="table table-hover">
                <thead class="thead-light">
                <tr class="table-title">
                    <th scope="col">№ Заказа</th>
                    <th scope="col">Дата и время</th>
                    <th scope="col">Магазин</th>
                    <th scope="col">Сумма</th>
                    <th scope="col">Статус</th>
                </tr>
                </thead>
                <tbody id="orders">
                <tr class="order-row" th:each="order , itemStat : ${orders.content}">
                    <td th:inline="javascript" hidden class="order-obj"> [[${order}]]</td>
                    <td class="order-id" th:text="${order.orderId}"></td>
                    <td class="order-date" th:text="${#dates.format(order.date, 'dd-MM-yyyy HH:mm')}"></td>
                    <td th:text="${order.shopName}"></td>
                    <td th:text="${order.amount} "></td>
                    <td th:if="${order.status.name() =='APPROVED'}"><i class="circle-status success"></i> Подтвержден
                    </td>
                    <td th:if="${order.status.name() =='REFUSED'}"><i class="circle-status declined"></i> Отклонен</td>
                    <td th:if="${order.status.name() =='NEW'}"><i class="circle-status declined"></i> В ожидании</td>
                    <td th:if="${order.status.name() =='RESERVED'}"><i class="circle-status declined"></i>Зарезервирован</td>
                    <td th:if="${order.status.name() =='PARTIAL_REFUND'}"><i class="circle-status declined"></i>Частично возвращен</td>
                    <td th:if="${order.status.name() =='TOTAL_REFUND'}"><i class="circle-status declined"></i>Возвращен</td>
                </tr>
                </tbody>
            </table>
            <div th:if="${orders.isEmpty()==true}">
                <h5 class="text-center">По выбранным фильтрам операций не найдено</h5>
            </div>
        </div>
    </div>
    <div hidden id="info-block" class="info-block"></div>

</div>
<div th:if="${searchPagination} != 'true'" class="flex-row">
    <div th:if="${number > 0}" class="pagination">
        <a th:href="@{/orders(size=${orders.size}, page=${number})}"
           th:text="назад"
           th:class="${number==orders.number - 1} ? active"></a>
    </div>
    <div th:if="${orders.totalPages > 0}" class="pagination"
         th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/orders(size=${orders.size}, page=${pageNumber})}"
           th:text="${pageNumber}"
           th:class="${pageNumber==orders.number + 1} ? active"></a>
    </div>
    <div th:if="${number > -1} and ${orders.totalPages > number + 1}" class="pagination">
        <a th:href="@{/transactions(size=${orders.size}, page=${number}+2)}"
           th:text="вперед"
           th:class="${number==orders.number + 2} ? active"></a>
    </div>
</div>
<div th:if="${searchPagination} == 'true'" class="flex-row" >
    <div th:if="${number > 0}" class="pagination">
        <a th:href="@{/search-orders(id=${searchId},shopName=${searchShopName},amount = ${searchAmountFrom}, amount = ${searchAmountTo}, status = ${searchStatus},size=${orders.size}, page=${number})}"
           th:text="назад"
           th:class="${number==orders.number - 1} ? active"></a>
    </div>
    <div th:if="${orders.totalPages > 0}" class="pagination"
         th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/search-orders(id=${searchId},shopName=${searchShopName},amount = ${searchAmountFrom}, amount = ${searchAmountTo},status = ${searchStatus},size=${orders.size}, page=${pageNumber})}"
           th:text="${pageNumber}"
           th:class="${pageNumber==orders.number + 1} ? active"></a>
    </div>
    <div th:if="${number > -1} and ${orders.totalPages > number + 1}" class="pagination">
        <a th:href="@{/search-orders(id=${searchId},shopName=${searchShopName},amount = ${searchAmountFrom}, amount = ${searchAmountTo},status = ${searchStatus},size=${orders.size}, page=${number}+2)}"
           th:text="вперед"
           th:class="${number==orders.number + 2} ? active"></a>
    </div>
</div>

<div th:insert="layout ::footer"></div>
</body>
</html>

<script>

    let ListOrders = window['orders'];
    let block = window['info-block'];
    let searchElement = window['search-block'];
    let orderDTO;

    ListOrders.addEventListener('click', async function (e) {
        let markupTransaction = e.target.parentElement;
        block.hidden = false;
        searchElement.hidden = true;
        let orderElem = markupTransaction.getElementsByClassName('order-obj')[0].innerHTML;
        let order = JSON.parse(orderElem);
        let responseData = await fetch('http://localhost:8080/orders/' + order.id);
        let promise = await responseData.json();
        orderDTO = JSON.parse(JSON.stringify(promise));

        print(orderDTO);

        let classList = ListOrders.children;
        for (let i = 0; i < classList.length; i++) {
            classList[i].classList.remove('active')
        }
        markupTransaction.classList.add("active");
    });

    function addFormRefund(orderDTO) {
        const html = `
                    <div>
                    <form action="/sendRequest" method="post">
                    <input type="hidden" value="${orderDTO.id}" name="orderId">
                    <input type="hidden" value="REFUND" name="type">
                    <input type="number"  placeholder="введите сумму" name="amount" oninput="validateSum(value)" >
                    <button id="returnButton" type="submit">вернуть</button>
                    </form>
                    </div>`;
        const div = document.createElement('div');
        div.innerHTML = html;
        return div;
    }

    function addFormAuth(orderDTO) {
        const html = `
                    <div>
                    <form action="/sendRequest" method="post">
                    <input type="hidden" value="${orderDTO.id}" name="orderId">
                    <input type="hidden" value="AUTH" name="type">
                    <input type="number"  placeholder="введите сумму" name="amount" oninput="validateSum(value)" >
                    <button id="returnButton" type="submit">подтвердить</button>
                    </form>
                    </div>`;
        const div = document.createElement('div');
        div.innerHTML = html;
        return div;
    }

    function print(orderDTO) {
        block.innerHTML = `<div id="close-icon" class="close"> x </div>
                           <div class="id"> ${orderDTO.orderId} </div>
                           <div> Остаток : ${orderDTO.residual} </div>
                           <div class="status">${orderDTO.status} </div>
                           <div class="amount">${orderDTO.amount}  TГ </div>
                           <div class="title"> Платежная информация </div>
                           <div class="row"> <div>Дата оплаты</div>  <div> ${dateFormat(orderDTO.date)} </div> </div>
                           <div class="row"> <div>Магазин</div>  <div> ${orderDTO.shopName} </div> </div>
                           <div class="order-title">Спосаб оплаты</div>
                           <div class="row"> <div>Карта</div>  <div> ${orderDTO.card} </div> </div>
                           <div class="row"> <div>Покупатель</div>  <div>${orderDTO.cardHolderName}</div></div>
                           <div class="order-title">Информация о покупке</div>
                           <div class="row"> <div>Телефон</div>  <div>${orderDTO.phone} </div> </div>
                           <div class="row"> <div>Почта</div>  <div> ${orderDTO.email} </div> </div>
                           <div>  История платежей </div>
                           <div>
                               ${orderDTO.transactions.map(transaction => `<div> ${dateFormat(transaction.date)} <span> ${transaction.amount} тг </span> ${transaction.type}  </div>`).join('')}
                           </div>`.trim();
        const amount = document.getElementsByClassName('amount')[0];
        if (orderDTO.status === 'APPROVED' || orderDTO.status === 'PARTIAL_REFUND') {
            const formDiv = addFormRefund(orderDTO);
            amount.after(formDiv)
        }
        if(orderDTO.status === 'RESERVED' ) {
            const formDivAuth = addFormAuth(orderDTO);
            amount.after(formDivAuth);
        }

        let closeIcon = window['close-icon'];
        closeIcon.addEventListener('click', function () {
            block.hidden = true;
            searchElement.hidden = false;
        })
    }

    function validateSum(value) {
        document.getElementById("returnButton").disabled = value > orderDTO.amount;
    }

    function dateFormat(date) {
        return new Date(date).toLocaleString();
    }
</script>