<!doctype html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head"> </head>

<body>

<div class="form-wrapper">

    <div class="registration-title">
        Регистрация в системе
    </div>

    <form id="form"  method="post" class="form">
        <div class="input-group">
            <input class="input-field" name="bik" required>
            <label class="input-label"> БИК </label>
        </div>

        <div class="input-group">
            <input class="input-field" name="bin" required>
            <label class="input-label"> БИН </label>
        </div>

        <div class="input-group">
            <input class="input-field" name="kbe" required>
            <label class="input-label"> Кбе </label>
        </div>

        <div class="input-group">
            <input class="input-field" name="organizationName" required>
            <label class="input-label"> Название организации </label>
        </div>

        <div class="input-group">
            <input class="input-field" name="directorIdentityCard" required>
            <label class="input-label"> Номер удостоверения владельца </label>
        </div>

        <div class="input-group">
            <input class="input-field" name="directorName" required>
            <label class="input-label"> Имя владельца </label>
        </div>

        <div class="flex-row">
            <a href="/user/login" type="reset" class="btn btn-reset"> Войти </a>
            <button class="btn btn-submit" type="submit"> Зарегистрироваться </button>
        </div>

    </form>
</div>

</body>

<script th:src="@{/js/commersant/effects-for-form.js}"></script>



</html>

