<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">

<head th:include="layout :: head">
    <title>Shops Page</title>
</head>

<body>
<div th:insert="layout :: header"></div>
<div class="container flex-column">
    <div class="shop-button">
        <button type="submit" class="btn-shop create-btn">Создать магазин</button>
    </div>
    <div id="register-form" hidden>
        <div class="shop justify-content-center">
            <form id="shop-form" action="/shops" th:action="@{/shops}" th:object="${shopDTO}" method="post">
                <input id="csrf" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <div class="inner-form">
                    <div class="basic-shop">
                        <div class="advance-shop">
                            <div class="column">
                                <div class="advance-input select">
                                    <p><span>*</span> - поля обязательные для заполнения</p>
                                    <select id = "shop" type="text" th:field="*{activity}" class="advance-input-select" required>
                                        <option value="" default="default" selected="selected">Вид деятельности *</option>
                                        <option value="SALE_OF_CLOTHING" th:text="#{SALE_OF_CLOTHING}"></option>
                                        <option value="SALE_OF_ELECTRONICS" th:text="#{SALE_OF_ELECTRONICS}"></option>
                                        <option value="SHOE_STORE" th:text="#{SALE_OF_ELECTRONICS}"></option>
                                        <option value="SPORT_CLUB" th:text="#{SPORT_CLUB}"></option>
                                    </select>
                                </div>
                                <div class="advance-input">
                                    <input type="text" th:field="*{siteName}" placeholder="Сайт *" required/>
                                    <span th:if="${#fields.hasErrors('siteName')}" th:errors="*{siteName}">Site name Error</span>
                                </div>
                                <div class="advance-input">
                                    <input type="text" th:field="*{account}"  placeholder="Счет для выплат *" required/>
                                    <span th:if="${#fields.hasErrors('account')}" th:errors="*{account}">account Error</span>
                                </div>
                                <div class="advance-input">
                                    <input type="email" th:field="*{registerEmail}" placeholder="Электронная почта для реестров *" required/>
                                    <span th:if="${#fields.hasErrors('registerEmail')}" th:errors="*{registerEmail}">registerEmail Error</span>
                                </div>
                                <h4 class="shop-margin">Адрес</h4>
                                <div class="advance-input">
                                    <input type="text" th:field="*{index}" placeholder="Индекс *" required/>
                                    <span th:if="${#fields.hasErrors('index')}" th:errors="*{index}">index Error</span>
                                </div>
                                <div class="advance-input">
                                    <input type="text" th:field="*{region}" placeholder="Регион,район *" required/>
                                    <span th:if="${#fields.hasErrors('region')}" th:errors="*{region}">region Error</span>
                                </div>
                                <div class="advance-input">
                                    <input type="text" th:field="*{locality}" placeholder="Населенный пункт *" required/>
                                    <span th:if="${#fields.hasErrors('locality')}" th:errors="*{locality}">locality Error</span>
                                </div>
                                <div class="advance-input">
                                    <input type="text" th:field="*{street}" placeholder="Улица *" required/>
                                    <span th:if="${#fields.hasErrors('street')}" th:errors="*{street}">street Error</span>
                                </div>
                                <div class="flex-row justify-content-between">
                                    <div class="address">
                                        <input type="text" th:field="*{house}" placeholder="Дом, строение *" required minlength="1"
                                               maxlength="3" size="3"/>
                                        <span th:if="${#fields.hasErrors('house')}" th:errors="*{house}">house Error</span>
                                    </div>
                                    <div class="address">
                                        <input type="text" th:field="*{building}" placeholder="Корпус"/>
                                    </div>
                                    <div class="address">
                                        <input type="text" th:field="*{office}" placeholder="Офис" minlength="1"
                                               maxlength="3" size="3"/>
                                    </div>
                                </div>
                                <h4 class="shop-margin">Обратная связь с покупателями</h4>
                                <p class="shop-margin">Покупатели увидят эти контакты на платежной форме</p>
                                <div class="advance-input">
                                    <input type="number" th:field="*{phoneForCustomer}" placeholder="Телефон *" required minlength="11"
                                           maxlength="12" size="12"/>
                                    <span th:if="${#fields.hasErrors('phoneForCustomer')}" th:errors="*{phoneForCustomer}">phoneForCustomer Error</span>
                                </div>
                                <div class="advance-input">
                                    <input type="email" th:field="*{emailForCustomer}" placeholder="Электронная почта *" required/>
                                    <span th:if="${#fields.hasErrors('emailForCustomer')}" th:errors="*{emailForCustomer}">emailForCustomer Error</span>
                                </div>
                                <h4 class="shop-margin">Контактное лицо</h4>
                                <div class="advance-input">
                                    <input type="text" th:field="*{contactName}" placeholder="Фамилия, Имя, Отчество *" required/>
                                    <span th:if="${#fields.hasErrors('contactName')}" th:errors="*{contactName}">contactName Error</span>
                                </div>
                                <div class="advance-input">
                                    <input type="tel" th:field="*{contactPhone}" placeholder="Телефон *" required minlength="11"
                                           maxlength="12" size="12"/>
                                    <span th:if="${#fields.hasErrors('contactPhone')}" th:errors="*{contactPhone}">contactPhone Error</span>
                                </div>
                                <div class="advance-input">
                                    <input type="email" th:field="*{contactEmail}" placeholder="Электронная почта *" required/>
                                    <span th:if="${#fields.hasErrors('contactEmail')}" th:errors="*{contactEmail}">contactEmail Error</span>
                                </div>
                                <input id="trigger-errors" type="hidden" th:if="${#fields.hasAnyErrors()}">
                                <div class="flex-row justify-content-around shop-margin">
                                    <div class="advance-input">
                                        <button type="submit" class="btn-shop create-btn">Сохранить</button>
                                    </div>
                                    <div class="advance-input">
                                        <button type="reset" class="btn-delete btn" id="delete">Отменить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="icon-wrap">
    <span class="basic-shop-title basic-shop-title-border">Интернет-магазины</span>
</div>
<tbody id="shops">
<div th:each="shop: ${shops}">
    <div class="shop-box"  th:onclick="|window.location.href='@{shops/about/{shopId}(shopId=${shop.id})}'|" >
        <div class="shop-margin font-weight-bold" th:text="${shop.siteName}"></div>
        <div class="shop-margin" th:text="#{${shop.activity}}"></div>
        <div class="shop-check-box"><em class="circle-status shop-checkbox-color"></em><span>Проверяем</span></div>
    </div>
</div>
</tbody>
</body>


<script>
    let shopButton = document.getElementsByClassName('shop-button')[0];
    let registerForm = document.getElementById("register-form");
    shopButton.addEventListener("click", function(){
        registerForm.hidden = registerForm.hidden !== true;
    });
    var errorsExist = document.getElementById("trigger-errors");
    if(errorsExist){
        registerForm.hidden = false;
    }
</script>


</html>


