<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link href="css/commersant/search.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/bootstrap/css/bootstrap.css">

    <link rel="stylesheet" href="css/commersant/layout-style.css">
    <link rel="stylesheet" href="css/commersant/main-page.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" />
    <title>Операции</title>
</head>

<body>


<div th:insert="layout :: header"></div>

<div class="container">
<div id = "search-block" class="s007">
    <form action="/search" method="post" id = "search-form">
        <div class="inner-form">
            <div class="basic-search">
                <div class="input-field">
                    <div class="icon-wrap">
                        <span class="basic-search-title">ПОИСК</span>
                    </div>
                </div>
            </div>
            <div class="advance-search">
                <span class="desc">Расширенный поиск</span>
                <div class="column">
                    <div class="advance-input">
                    <input id="search" type="number" name="id" placeholder="Поиск по № заказа" />
                    </div>
                    <div class="advance-input">
                        <input class="extra-input" name="shopName" type="text" placeholder="Название магазина" />
                    </div>
                    <div class="advance-input">
                        <select class="advance-input-select" name="status">
                            <option placeholder="" value="">Статус оплаты</option>
                            <option>Подтвержден</option>
                            <option>Отклонен</option>
                        </select>
                    </div>
                    </div>
                <div class="row">
                    <div class="input-field">
                        <button type="submit" class="btn-search btn">Искать</button>
                    </div>
                    <div class="input-field">
                    <button type="reset" class="btn-delete btn" id="delete">Очистить</button>
                    </div>
                </div>
            </div>
            </div>
    </form>
</div>
<div class="flex">
    <div class="main">

        <table class="table table-hover">
            <thead class="thead-light">
            <tr class="table-title">
                <th scope="col">№  Заказа</th>
                <th scope="col">Дата и время</th>
                <th scope="col">Магазин</th>
                <th scope="col">Сумма</th>
                <th scope="col">Статус</th>
            </tr>
            </thead>

            <tbody id="transactions">
            <tr class="transaction-row" th:each="transaction , itemStat : ${transactions.content}">
                <td th:inline="javascript" hidden class="transaction-obj"> [[${transaction}]]</td>
                <td class="transaction-order-id" th:text="${transaction.orderId}"></td>
                <td class="transaction-date" th:text="${#dates.format(transaction.date, 'dd-MM-yyyy HH:mm')}">  </td>
                <td th:text="${transaction.shopName}"></td>
                <td th:text="${transaction.amount}"> </td>
                <td th:if="${transaction.status =='Подтвержден'}"> <div class="circle-status success"></div> Подтвержден </td>
                <td th:if="${transaction.status =='Отклонен'}"> <div class="circle-status declined"></div> Отклонен </td>
                <td th:if="${transaction.status =='Возвращен'}"> <div class="circle-status reversed"></div> Возращен </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
    <div hidden id="info-block" class="info-block"></div>


</div>
<div class="flex-row">
    <div th:if="${number > 0}" class="pagination">
        <a th:href="@{/transactions(size=${transactions.size}, page=${number})}"
           th:text="назад"
           th:class="${number==transactions.number - 1} ? active"></a>
    </div>
    <div th:if="${transactions.totalPages > 0}" class="pagination"
         th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/transactions(size=${transactions.size}, page=${pageNumber})}"
           th:text="${pageNumber}"
           th:class="${pageNumber==transactions.number + 1} ? active"></a>
    </div>
    <div th:if="${number > -1} and ${transactions.totalPages > number + 1}" class="pagination">
        <a th:href="@{/transactions(size=${transactions.size}, page=${number}+2)}"
           th:text="вперед"
           th:class="${number==transactions.number + 2} ? active"></a>
    </div>
</div>

<div th:insert="layout ::footer"></div>
</body>

<script th:inline="javascript">

    let windowElement = window['transactions'];
    let block = window['info-block'];
    let searchElement = window['search-block'];

    windowElement.addEventListener('click', function (e) {
        let markupTransaction = e.target.parentElement;

        let transactionElem = markupTransaction.getElementsByClassName('transaction-obj')[0].innerHTML;
        let transaction = JSON.parse(transactionElem);

        print(transaction);
        block.hidden = false;
        searchElement.hidden = true;

        print(transaction);


        let classList = document.getElementById("transactions").children;
        for (let i = 0; i < classList.length; i++) {
            classList[i].classList.remove('active')
        }
        markupTransaction.classList.add("active");
    });

    function addForm(transaction) {
        const html = `
                    <div>
                    <form action="/sendRequest" method="post">
                    <input type="hidden" value="${transaction.id}" name="transactionId">
                    <input type="number" value="${transaction.amount}" name="transactionAmount">
                    <button type="submit"> вернуть</button>
                    </form>
                    </div>`;
        const div = document.createElement('div');
        div.innerHTML = html;
        return div;
    }

    function print(transaction) {
        block.innerHTML = ` <div id="close-icon" class="close"> x </div>
                    <div class="transaction-id"> ${transaction.id} </div>
                    <div class="transaction-status">${transaction.status} </div>
                    <div class="transaction-amount">${transaction.amount}  TГ </div>
                    <div class="transaction-title"> Платежная информация </div>
                    <div class="row"> <div>Дата оплаты</div>  <div> ${transaction.date} </div> </div>
                    <div class="row"> <div>Магазин</div>  <div> ${transaction.shopName} </div> </div>
                    <div class="transaction-title">Спасоб оплаты</div>
                    <div class="row"> <div>Карта</div>  <div> ${transaction.card} </div> </div>
                    <div class="row"> <div>Покупатель</div>  <div>${transaction.cardHolderName}</div></div>
                    <div class="transaction-title">Информация о покупке</div>
                    <div class="row"> <div>Телефон</div>  <div>${transaction.phone} </div> </div>
                    <div class="row"> <div>Почта</div>  <div> ${transaction.email} </div> </div>
            `.trim();
        const amount = document.getElementsByClassName('transaction-amount')[0];
        if (transaction.status === 'Подтвержден') {
            const formDiv = addForm(transaction);
            amount.after(formDiv)
        }
        let closeIcon = window['close-icon'];
        closeIcon.addEventListener('click', function () {
            block.hidden = true;
            searchElement.hidden = false;
        })
    }
</script>

<script>
    const customSelects = document.querySelectorAll("select");

    for (let i = 0; i < customSelects.length; i++)
    {
        customSelects[i].addEventListener('addItem', function(event)
        {
            if (event.detail.value)
            {
                let parent = this.parentNode.parentNode;
                parent.classList.add('valid');
                parent.classList.remove('invalid')
            }
            else
            {
                let parent = this.parentNode.parentNode;
                parent.classList.add('invalid');
                parent.classList.remove('valid')
            }
        }, false);
    }
</script>


<!--<script>-->
<!--    let searchForm = window['search-form'];-->
<!--        searchForm.addEventListener("submit", async function (e) {-->
<!--            e.preventDefault();-->

<!--            console.log("Okay okay okay");-->

<!--            //Отправляем форму оплаты с информацией о карте и покупателе-->
<!--            // let formData = new FormData(searchForm);-->
<!--            // let searchInfo = Object.fromEntries(formData);-->
<!--            // let url = "http://localhost:8080/search";-->
<!--            //-->
<!--            // let response = await fetch(url, {-->
<!--            //     method: "post",-->
<!--            //     headers: {"Content-Type": "application/json;charset=utf-8"},-->
<!--            //     body: JSON.stringify(searchInfo)-->
<!--            // });-->
<!--            // console.log(response);-->
<!--        })-->
<!--</script>-->

</html>

