<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/bootstrap/css/bootstrap.css">

    <link rel="stylesheet" href="css/commersant/layout-style.css">
    <link rel="stylesheet" href="css/commersant/main-page.css">

    <title>Операции</title>
</head>

<body>
<div th:insert="layout :: header"></div>

<div class="flex">
    <div class="main">

        <table class="table table-hover">
            <thead class="thead-light">
            <tr class="table-title">
                <th scope="col">№  Заказа</th>
                <th scope="col">Дата и время</th>
                <th scope="col">Магазин</th>
                <th scope="col">Сумма</th>
                <th scope="col">Статус</th>
            </tr>
            </thead>

            <tbody id="transactions">
            <tr class="transaction-row" th:each="transaction , itemStat : ${transactions.content}">
                <td th:inline="javascript" hidden class="transaction-obj"> [[${transaction}]]</td>
                <td class="transaction-order-id" th:text="${transaction.orderId}"></td>
                <td class="transaction-date" th:text="${#dates.format(transaction.date, 'dd-MM-yyyy HH:mm')}">  </td>
                <td th:text="${transaction.shopName}"></td>
                <td th:text="${transaction.amount}"> </td>
                <td th:if="${transaction.status =='Подтвержден'}"> <div class="circle-status success"></div> Подтвержден </td>
                <td th:if="${transaction.status =='Отклонен'}"> <div class="circle-status declined"></div> Отклонен </td>
            </tr>

            </tbody>
        </table>
    </div>

    <div hidden id="info-block" class="info-block"></div>

</div>

<div class="flex-row">
    <div th:if="${number > 0}" class="pagination">
        <a th:href="@{/transactions(size=${transactions.size}, page=${number})}"
           th:text="назад"
           th:class="${number==transactions.number - 1} ? active"></a>
    </div>
    <div th:if="${transactions.totalPages > 0}" class="pagination"
         th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/transactions(size=${transactions.size}, page=${pageNumber})}"
           th:text="${pageNumber}"
           th:class="${pageNumber==transactions.number + 1} ? active"></a>
    </div>
    <div th:if="${number > -1} and ${transactions.totalPages > number + 1}" class="pagination">
        <a th:href="@{/transactions(size=${transactions.size}, page=${number}+2)}"
           th:text="вперед"
           th:class="${number==transactions.number + 2} ? active"></a>
    </div>
</div>

<div th:insert="layout ::footer"></div>
</body>

<script th:inline="javascript">

    let windowElement = window['transactions'];
    let block = window['info-block'];

    windowElement.addEventListener('click', function (e) {
        let markupTransaction = e.target.parentElement;

        let transactionElem = markupTransaction.getElementsByClassName('transaction-obj')[0].innerHTML;
        let transaction = JSON.parse(transactionElem);
        block.hidden = false;

        print(transaction);

        let classList = document.getElementById("transactions").children;
        for (let i = 0; i < classList.length; i++) {
            classList[i].classList.remove('active')
        }
        markupTransaction.classList.add("active");
    });

    function print(transaction) {
        block.innerHTML = ` <div id="close-icon" class="close"> x </div>
                    <div class="transaction-id"> ${transaction.id} </div>
                    <div class="transaction-status">${transaction.status} </div>
                    <div class="transaction-amount">${transaction.amount}  TГ </div>
                    <div class="transaction-title"> Платежная информация </div>
                    <div class="row"> <div>Дата оплаты</div>  <div> ${transaction.date} </div> </div>
                    <div class="row"> <div>Магазин</div>  <div> ${transaction.shopName} </div> </div>
                    <div class="transaction-title">Спасоб оплаты</div>
                    <div class="row"> <div>Карта</div>  <div> ${transaction.card} </div> </div>
                    <div class="row"> <div>Покупатель</div>  <div>${transaction.cardHolderName}</div></div>
                    <div class="transaction-title">Информация о покупке</div>
                    <div class="row"> <div>Телефон</div>  <div>${transaction.phone} </div> </div>
                    <div class="row"> <div>Почта</div>  <div> ${transaction.email} </div> </div>
            `.trim();
        let closeIcon = window['close-icon'];
        closeIcon.addEventListener('click', function () {
            block.hidden = true;
        })
    }
</script>
</html>

