<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/commersant/layout-style.css">
    <link rel="stylesheet" href="css/commersant/main-page.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Операции</title>
</head>
<body>
<div th:insert="layout :: header"></div>
<div class="main">

    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">№Заказа</th>
            <th scope="col">Дата и время</th>
            <th scope="col">Магазин</th>
            <th scope="col">Сумма</th>
            <th scope="col">Статус</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="transaction , itemStat : *{transactions}">
            <th scope="row" th:text="*{transactions[__${itemStat.index}__].orderId}"></th>
            <td th:text="*{transactions[__${itemStat.index}__].date}"></td>
            <td th:text="*{transactions[__${itemStat.index}__].shopName}"></td>
            <td th:text="*{transactions[__${itemStat.index}__].amount}"></td>
            <td th:text="*{transactions[__${itemStat.index}__].status}"></td>
        </tr>

        </tbody>
    </table>
</div>

<div th:insert="layout ::footer"></div>
</body>
</html>