<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Document</title>
    <link rel="stylesheet" href="/src-commersant-pegistration/styles/style.css">
</head>
<body>


<div class="form-wrapper">
    <form id="form"  method="post" class="form">
        <div class="input-group">
            <input class="input-field" name="bik" required>
            <label class="input-label"> БИК </label>
        </div>

        <div class="input-group">
            <input class="input-field" name="bin" required>
            <label class="input-label"> БИН </label>
        </div>

        <div class="input-group">
            <input class="input-field" name="kbe" required>
            <label class="input-label"> Кбе </label>
        </div>

        <div class="input-group">
            <input class="input-field" name="organizationName" required>
            <label class="input-label"> Название организации </label>
        </div>

        <div class="input-group">
            <input class="input-field" name="directorIdentityCard" required>
            <label class="input-label"> Номер удостоверения владельца </label>
        </div>

        <div class="input-group">
            <input class="input-field" name="directorName" required>
            <label class="input-label"> Имя владельца </label>
        </div>

        <div class="flex-row">
            <button type="reset" class="btn-reset"> Отменить</button>
            <button class="btn-submit" type="submit"> Отправить</button>
        </div>

    </form>
</div>

</body>
<script src="/src-commersant-pegistration/js/variables.js"></script>
<script src="/src-commersant-pegistration/js/main.js"></script>

</html>

