
.input-group {
    position: relative;
    width: 448px;
}

.error-block{
    color: red;
}

.form {
    max-width: 448px;
    box-sizing: border-box;
}

.form div {
   margin-top: 15px;
}

.input-field {
    margin: 0;
    border: 0;
    padding-left: 7px;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    color: inherit;
    outline: none;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0;
    flex: 1 1 0;
    width: 100%;
    height: 59px;
    border-radius: 6px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #ecf1f7;
}

.input-field:hover {
    background: #f1f6fc;
}


.input-label {
    position: absolute;
    top: 15px;
    left: 7px;
    color: #79818c;
    overflow: hidden;
    font-family: pragmatica, serif;
}



.btn {
    display: inline-block;
    font-family: pragmatica, haas, serif;
    color: #333;
    height: 55px;
    width: 160px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-items: center;
    padding: 17px;
}


.btn-submit {
    background: #ffdd2d;;
}

.btn-reset {
    background: #ecf1f7;
}


.btn-submit:hover {
    background: #ffcd33;
}

.btn-reset:hover {
    background: #e2e8ee;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form-wrapper {
    margin: 20px auto;
    max-width:  40%;
}