
.container{
  padding: 0;
  display: flex;
  min-width: 100%;
}
.pagination {
  display: inline-block;
}

.pagination a {
  color: rgba(0,0,0,.54);
  float: left;
  text-decoration: none;
  padding: 1px 12px 1px 11px;
  min-width: 16px;
  text-align: center;
  border-radius: 0;
  margin-left: -1px;
  border: 1px solid #888;
  background-color: #fff;
  line-height: 28px;
}

.pagination a.active {
  background-color: rgba(0,0,0,.54);
  color: white;
  border-radius: 2px;
}

.main {
  flex-grow: 1;
}

.table {
  color: gray;
}
.list {
  padding: 10px 10px 0 200px;
}
.list  div{
  padding: 5px;
  border: 2px solid rgba(0,0,0,.54);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  margin: 0;
  padding: 0;
  border-left: 1px solid lightgrey;
}


.info-block {
  font-family: haas,Arial,sans-serif;
  padding: 70px;
  border: 1px solid lightgrey;
  min-width: 40%;
  /*max-height: 594px;*/
  overflow-y: scroll;
  color: rgba(0,0,0,.54);
}


