<configuration>

    <property name="LOG__DIR" value="./logs"/>
    <property name="LOG__FILE" value="Log"/>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${LOG__DIR}/${LOG__FILE}.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG__DIR}/${LOG__FILE}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>%-4relative[%thread]%-5level %logger{35} - %msg%n</pattern>
        </encoder>

    </appender>

    <root level="debug">
        <appender-ref ref="FILE"/>
    </root>

</configuration>