
.shop {
    min-width: 1200px;
    display: flex;
    align-items: start;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 25px;
}

.shop-flex{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 900px;
    box-shadow: inset 0 -1px 0 0 #e7e8ea;
}

.shop form {
    width: 100%;
    max-width: 900px;
    margin: 0;
}

.shop form .inner-form .input-field {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.shop form .inner-form .input-field input {
    border: 0;
    background: #fff;
    display: block;
    width: 100%;
    padding: 10px 32px 10px 70px;
    font-size: 18px;
    border-radius: 3px;
    height: 70px;
    color: #555;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.shop form .inner-form .input-field input.placeholder {
    color: #999;
    font-size: 18px;
}

.shop form .inner-form .input-field input:-moz-placeholder {
    color: #999;
    font-size: 18px;
}

.shop form .inner-form .input-field input::-webkit-input-placeholder {
    color: #999;
    font-size: 18px;
}

.shop form .inner-form .advance-shop .row{
    margin: 30px 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}


.shop form .inner-form .advance-shop .btn:hover {
    background: #9fcdff;
}

.shop form .inner-form .advance-input .btn {
    min-width: 100px;
    height: 40px;
    padding: 0 40px;
    background: none;
    white-space: nowrap;
    border-radius: 4px;
    font-size: 14px;
    color: #5b8be1;
    transition: all .2s ease-out, color .2s ease-out;
    border: 1px solid #5b8be1;
    cursor: pointer;
}

.shop form .inner-form .input-field .btn:hover {
    background: #9fcdff;
}



.shop form .inner-form .basic-shop .input-field {
    width: 100%;
}



.shop form .inner-form .advance-shop {
    background: #fff;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    padding: 25px 0;
}

.shop form .inner-form .advance-shop .desc {
    font-size: 20px;
    color: #999;
    display: block;
    margin: 23px 20px;
}

.shop form .inner-form .advance-shop .column {
    display: flex;
    justify-content: space-between;
    /*align-items: flex-start;*/
    margin: 0 30px;
    flex-flow: column;
}



.shop form .inner-form .advance-shop input {
    border: 0;
    background: rgb(234, 237, 242);
    padding-left: 10px;
    display: block;
    width: 100%;
    font-size: 15px;
    border-radius: 5px;
    height: 50px;
    color: #000;
    outline: none;
    min-width: 300px;
    margin-top: 7px;
}

.shop form .inner-form .advance-shop .address input {
    border: 0;
    background: rgb(234, 237, 242);
    padding-left: 10px;
    display: block;
    width: 100%;
    font-size: 15px;
    border-radius: 5px;
    height: 50px;
    color: #000;
    outline: none;
    min-width: 150px;
    margin-top: 7px;
}

.shop form .advance-input span{
    color: red;
}



.shop form .inner-form .advance-input-select{
    border: 0;
    background: rgb(234, 237, 242);
    display: block;
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
    height: 50px;
    color: #555;
    outline: none;
    min-width: 300px;
    padding-left: 5px;
    margin-top: 7px;

}

.create-shop form .input-field input {
    border: 0;
    background: #fff;
    display: block;
    width: 100%;
    padding: 10px 32px 10px 70px;
    font-size: 18px;
    border-radius: 3px;
    height: 70px;
    color: #555;
}

.shop-margin{
    margin-top: 15px;
    margin-bottom: 0;
}
.shop-button{
    width: 200px;
    margin: 20px;
}

.create-btn {
    min-width: 100px;
    height: 40px;
    padding: 0 40px;
    white-space: nowrap;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    transition: all .2s ease-out, color .2s ease-out;
    border: 1px solid #ffdd2d;
    background: #ffdd2d none;
    cursor: pointer;
}
.shop-box {
    width: 400px;
    margin: 20px;
    background: white;
    border-radius: 4px;
    padding: 10px;
    position: relative;
    border: 1px solid rgba(140, 139, 139, 0.5);
}

.shop-check-box {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 15px;
    background: lightblue;
    padding-left: 5px;
    padding-right: 10px;
}

.shop-checkbox-color{
    background:#5b8be1 ;
}

.basic-shop {
     border-bottom: 1px solid lightgrey;
     box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
 }

.basic-shop-title{
    font-size: 15px;
    padding: 23px 5px;
    margin-left: 30px;
    font-weight: bold;
}
.basic-shop-title-border {
    border-bottom: 4px solid #ffc107;
}

.icon-wrap {
    min-height: 70px;
    display: flex;
    width: 30%;
    /*height: 100%;*/
}

.icon-wrap svg {
    width: 34px;
    height: 34px;
    fill: #ccc;
}

.shop-menu-row{
    padding: 5px 20px;
    display: flex;
    justify-content:flex-end;
}
.shop-menu {
    display: flex;
    justify-content: center;
    width: 800px;
}

.check-margin{
    margin-top: 10px;
    margin-bottom: 10px;
}

.check-font-label{
    font-size: 15px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.54);;
}

.check-row {
    display: table;
    border-collapse: separate;
    width: 100%;
    position: relative;
    table-layout: fixed;
    overflow: visible;
    margin-bottom: 10px;
}

.check-label {
    display: table-cell;
    vertical-align: top;
    width: 206px;
    padding-top: 6px;
    border-spacing: 0 5px;
    padding-bottom: 5px;
}

.check-control{
    display: table-cell;
    vertical-align: top;
    /*width: 100%;*/
    font-size: 15px;
    color:#5b8be1;
    border-spacing: 0 5px;
    padding: 5px 10px 5px 0;
}

.check-box {
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0 10px 0;
}

#shop-block {
    width: 100%;
    max-width: 900px;
    margin-top: 30px;
    display: flex;
}

.shop-block-left{
    width: 600px;
    margin: 0px 30px 0px 0px;
}
.shop-block-right{
    width: 300px;
    margin: 0;
}

.hold-box{
    background: white;
    border:1px solid #e7e8ea;;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
    width: 100%;
}

.hold-font-desc{
    margin-top: 10px;
    font-size: 12px;
    line-height: 12px;
    color: rgba(0, 0, 0, 0.54);;
}

.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .radio-checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a yellow background */
.radio-container input:checked ~ .radio-checkmark {
    background-color: #ffdd2d;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .radio-checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .radio-checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: black;
}

.shop-box:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}