<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="">
<head th:include="layout :: head"> </head>
<link rel="stylesheet" href="src-commersant-pegistration/styles/style.css">

<body>

<div class="flex-container">

    <div class="registration-title">
       Вход в Payment Module
    </div>

    <div class="form-wrapper">
        <form id="form"  method="post" class="form">

            <div class="input-group">
                <input class="input-field" name="email" required>
                <label class="input-label"> Email </label>
            </div>

            <div class="input-group">
                <input class="input-field" name="password" required>
                <label class="input-label"> Пароль </label>
            </div>

            <div class="flex-row">
                <a class="btn btn-reset" href="/registration" > Зарегистрироваться</a>
                <button class="btn btn-submit" type="submit"> Войти </button>
            </div>

        </form>
    </div>
</div>
</body>
<script src="src-commersant-pegistration/js/variables.js"> </script>
<script src="src-commersant-pegistration/js/main.js"> </script>

</html>