<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="">
<head th:include="layout :: head"> </head>
<link rel="stylesheet" href="src-commersant-pegistration/styles/style.css">

<body>

<div class="flex-container">

    <div class="registration-title">
        Регистрация
    </div>

    <div class="form-wrapper">
        <form id="form" action="/registration"  method="post" class="form">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div class="input-group">
                <input class="input-field" name="name" required>
                <label class="input-label"> ФИО  </label>
            </div>

            <div class="input-group">
                <input class="input-field" name="email" required>
                <label class="input-label"> Email </label>
            </div>

            <div class="input-group">
                <input class="input-field" name="password" required>
                <label class="input-label"> Пароль </label>
            </div>

            <div class="flex-row">
                 <a class="btn btn-reset" href="/" > Войти  </a>
                <button class="btn btn-submit" type="submit"> Зарегистрироваться </button>
            </div>

        </form>
    </div>
</div>
</body>

<script src="src-commersant-pages/js/registration-post.js"> </script>

</html>
