body, html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
}


a {
    text-decoration: none;
    color: #4183d7;
    font-weight: bold;
    font-size: 14px;

}

a:hover {
    color: black;
}

.flex-row {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}


.row {
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.menu {
    text-transform: uppercase;
    color: rgb(0, 157, 255);
}

.header {
    padding: 15px;
}

.icon {
    margin-right: 50px;
}

.container {
    display: flex;
    border: 1px solid rgba(140, 139, 139, 0.5);
}

.search-title {
    width: 25%;
    padding: 15px;
    text-transform: uppercase;
    color: rgb(0, 157, 255);
}

.result-title {
    width: 75%;
    border-left: 1px solid rgba(140, 139, 139, 0.5);
}


.footer {

    background: black;
    color: white;
}