
.container{
  padding: 0;
  display: flex;
  min-width: 100%;
}
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  text-decoration: none;
  padding: 1px 12px 1px 11px;
  min-width: 16px;
  text-align: center;
  border-radius: 0;
  margin-left: -1px;
  border: 1px solid #888;
  background-color: #fff;
  line-height: 28px;
}

.pagination a.active {
  background-color: black;
  color: white;
  border-radius: 2px;
}

.main {
  flex-grow: 1;
}

.table {
  color: gray;
}
.list {
  padding: 10px 10px 0 200px;
}
.list  div{
  padding: 5px;
  border: 2px solid black;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  margin: 0;
  padding: 0;
  border-left: 1px solid lightgrey;
}


.info-block {
  padding: 20px;
  border: 1px solid grey;
  min-width: 350px;
  /*max-height: 594px;*/
  overflow-y: scroll;

}

.id {
  font-size: 30px;
  padding-bottom: 10px;
}

.status {
  padding: 5px;
  width:40%;
  background-color: limegreen;
}

.amount {
  font-size: 25px;
  font-weight: bold;
  padding: 20px 0;
}

.order-title {
  font-weight: bold;
  padding-top: 10px;
}

.table-title th {
  height: 70px;
  font-weight: bold;
  text-transform: uppercase;
  color: #5b8be1 !important;
  border: none !important;
}
td.order-order-id {
  padding-left: 25px;
}

td.order-date {
  font-weight: bold;
  color: black;
}

.transaction-row {
  line-height: 45px;
}

.active {
  background: rgba(255, 243, 69, 0.62);
}

.row {
  padding: 5px 20px;
  display: flex;
  justify-content:space-between;
}

.circle-status {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 15px;
}

.success {
  background: forestgreen;
}

.declined {
   background: red;
 }

.reversed {
  background: yellow;
}