

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    font-family: "Lucida Console", Monaco, monospace;
}

.header {
    background-color: skyblue;
    height: 180px;
    text-align: center;
    font-family: Courier New, monospace;
}

.shop-name {
    text-align: right;
    padding:  20px 40px 0 0;
    font-size:  28px;

}

.title-text {
    font-size:  36px;
    line-height: 85px;
    font-weight: 500;
}

.form {
    display: flex;
    justify-content: center;
}

#order-form div {
    font-family: Courier New, monospace;
    padding: 10px 10px;
    font-size: 26px;
}

#order-form input {
    font-size: 40px;
    font-weight: lighter;
    font-family: Courier New, monospace;

}

.button-submit {
    display: block;
    margin: 30px auto;
    height: 60px;
    width: 500px;
    border-radius: 20px;
    outline: none;
    border: none;
    font-family: Courier New, monospace;
    font-size: 25px;
    background-color: skyblue;
}


/* MODAL FORM FOR PURCHASE */

.purchase{
    width: 880px;
    min-height: 790px;
    display: flex;
    flex-flow: column;
    align-items: center;
    background: white;
    -webkit-box-shadow: 0 10px 13px 8px rgba(0,0,0,0.32);
    -moz-box-shadow: 0 10px 13px 8px rgba(0,0,0,0.32);
    box-shadow: 0 10px 13px 8px rgba(0,0,0,0.32);
    border-radius: 0.2em;
}

.purchase-header{
    width: 880px;
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.purchase-header h1{
    padding-left: 136px;
}

.purchase-header span{
    width: 15px;
    height: 15px;
    margin: 0 20px 10px 0;
}

.purchase-container{
    width: 600px;
    margin-bottom: 200px;
}

#purchase-button{
    margin-top: 50px;
    width: 136px;
    height: 56px;
    font-size: 15px;
    font-weight: bold;
}


#progressBar{
    margin-top: 20px;
}
.purchase button{
    background-color: rgb(257, 235, 28);
}
.purchase button:hover{
    background: rgb(237, 195, 68);
}


.customer-info{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
}

.purchase hr{
    width: 878px;
    right: 50%;
    transform: translateX(-140px);
}


/*-------------------*/

.customer-info-text{
    font-size: 22px;
    margin-right: 2px;
}

.customer-info-currency{
    margin-bottom: 2px;
}
.customer-info-currency span{
    font-size: 18px;
    bottom: 20%;
}

.customer-short-info{
    display: flex;
    margin: 40px 0 20px 0;
    align-items: center;
}
.extra-info-icon{
    margin-left: 7px;
}

.customer-extra-info-container{
    width: 400px;
}
.customer-extra-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.customer-extra-info-container ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    transform-origin: 0 0;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.5s cubic-bezier(0.5,0.5,0.5,0.5);
}

.customer-extra-info-container .customer-info-text{
    font-size: 15px;
}

.customer-short-info svg{
    z-index: 1;

    transition: transform 0.1s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;

}

.customer-short-info input{
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
}

.customer-short-info input:checked ~ svg{
    transform: rotate(-180deg);
}

.card-side{
    position: relative;
    width: 600px;
    height: 260px;
    margin-top: 30px;
}

.card-side input{
    width: 300px;
    height: 46px;
    font-size: 16px;
    padding: 10px 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: none;
    background: grey;
    color: white;
}
.card-side input::placeholder{
    color: white;
}

.card-side input:focus{
    border: 2px solid black;
}



.front-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 430px;
    height: 260px;
    z-index: 10;
    border: 1px black solid;
    border-radius: 0.5em;
    background: white;
    -webkit-box-shadow: 16px 2px 18px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 16px 2px 18px -10px rgba(0,0,0,0.75);
    box-shadow: 16px 2px 18px -10px rgba(0,0,0,0.75);
}


.front-card select{
    width: 50px;
    height: 30px;
    text-align: center;
    text-align-last: center;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    font-size: 12px;
    background: grey;
    color: white;
}

.front-card span{
    font-size: 25px;
    margin: 0 2px;
}

.date-val{
    width: 300px;
    display: flex;
    justify-content: flex-start;

}

.back-card{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-around;
    left: 25%;
    width: 430px;
    height: 260px;

    position: absolute;
    border: 1px black solid;
    border-radius: 0.5em;
    background: white;

}

.back-card-line{
    width: 420px;
    height: 50px;
    background: darkgrey;
}

.back-card input{
    /*display: relative;*/
    width: 92px;
    height: 50px;
    margin: 0 30px 50px 0;
}
/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    width: 1em;
    height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #4691f6;
}

.svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
}

p::selection {
    background: transparent;
}

p::-moz-selection {
    background: transparent;
}