.orderId {
    font-size: 30px;
    padding-bottom: 10px;
}
.order-label {
    text-transform: uppercase;
}
.status {
    padding: 5px;
    width:40%;
    background-color: limegreen;
}

.amount {
    font-size: 25px;
    font-weight: bold;
    padding: 10px 0;
    color:  rgba(0, 0, 0, 0.89);
}

.residual {
    padding: 10px 0;
    text-transform: uppercase;
}

.order-title {
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 7px;
    color: rgba(0, 0, 0, 0.89);
    border-bottom: 1px solid rgb(230, 230, 230);
}

.table-title th {
    height: 70px;
    font-weight: bold;
    text-transform: uppercase;
    color: #5b8be1 !important;
    border: none !important;
}
td.order-order-id {
    padding-left: 25px;
}

td.order-date {
    font-weight: bold;
    color:  rgba(0, 0, 0, 0.89);
}

.order-row {
    line-height: 45px;
}

.active {
    background: rgba(255, 243, 69, 0.62);
}

.flex-row .pagination-block{
    display: flex;
    width: 100%;
}

.row {
    padding: 5px 20px;
    display: flex;
    justify-content:space-between;
}

.circle-status {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 15px;
}

.success {
    background: forestgreen;
}

.declined {
    background: red;
}

.reversed {
    background: yellow;
}

.input-refund{
    border: 0;
    background: rgb(234, 237, 242);
    padding-left: 10px;
    display: block;
    font-size: 15px;
    border-radius: 5px;
    height: 50px;
    color: rgba(0,0,0,.54);
    outline: none;
    min-width: 150px;
    margin-top: 7px;
}

.close {
    font-size: 30px;
    font-weight: lighter;
}

.refund-input {
    width:  50%;
    padding: 10px;
    background: rgba(230, 230, 230, 0.71);
    border: 1px solid rgba(230, 230, 230, 0.89);
    outline: none;
}
.refund-input:hover {
    background: rgba(240, 240, 240, 0.71);
}
.returnButton{
    min-width: 80px;
    width: 35%;
    height:  40px;
    text-align: center;
    line-height: 1.5;
    margin-left: 10px;
    background-color: #ffdd2d;
    border: 1px solid #ffd72c;
    outline: none;
}

.returnButton:hover {
    background-color: rgba(255, 221, 45, 0.84);
}
